.sidenavbar-box{
    display: flex;
    flex-direction:row;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 0.75rem;
    column-gap: 0.5rem;
}

.sidenavbar-children{
    width: 85%;
    border: 2px solid gray;
    background: linear-gradient(to right, #0f2027, #203a43, #23495a);
 
    border-radius: 10px;
    overflow: hidden;
}

.sidenavbar-nav{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidenavbar-title{
    width: 100%;
    /* border-bottom: solid 1px gray; */
    border-radius: 10px;
    padding:0.5rem 1rem ;
    display: flex;
    justify-content: center;
    background-color:    #183D3D;
}

.sidenavbar-title h3{
    /* width: 100%; */
    /* border: 1px solid gray; */
    padding: 0.25rem 3rem;
    /* border-radius: 8px; */
    font-style: italic;
    /* background-color: red; */
    
}

.sidenavbar-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.25rem 0.5rem ;
    margin-top: 1rem;
    
}

.sidenavbar-menu a{
    all:unset;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.sidenavbar-menu a:hover{
    background-color: #5C8374;
    /* border: 1px solid #5C8374; */
    background: linear-gradient(to left, #141e30, #243b55);
    border: 2px solid rgba(255, 255, 255, 0);

}