.image-res{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 5%;
    padding: 1rem ;
}

.image-res-img{
    width: 50%;
    text-align: center;
}

.image-res-img img{
    width: 85%;
    border-radius: 5px;
}
.image-res-items{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    height: 75%;
    overflow-y:scroll;
}

:where(.image-res-items, div)::-webkit-scrollbar {
    width: 0px;
}

:where(.image-res-items, div)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}

:where(.image-res-items, div)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}

.image-res-items h3{
    font-size: 160%;
    margin-bottom: 1rem;
}

.images-res-data{
    width: 100%;
    margin-bottom: 1.5%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
}

.image-res-data-item{
    text-align: end;
    font-size: 120%;
}


.image-res-progress-bar{
    height: 100%;
    position: relative;
}

.image-res-progress-bar-parent{
    width: 100%;
    height: 10px;
    background-color: #E2F0FA;
    background-color: #020818;
    border-radius: 10px;
}
.image-res-progress-bar-child{
    background-color: #4589AB;
    background-color: #3c81f8;
    height: 100%;
    border-radius: 10px;
}